* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #145b77;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #b4cee4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#chat-box {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: rgb(13, 126, 134);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.user-message {
    background-color: #d1f7d1;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    max-width: 75%;
}

.chatbot-message {
    background-color: #f0f0f0;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    max-width: 75%;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

input:focus, .button:focus {
    outline: none;
}
